.cms-wrapper {
	position: relative;
	background-color: var(--white-gray, #F2F0F9);
	padding: 79px 0 110px;
	min-height: 100vh;
	height: 100%;
	width: 100vw;
}

.cms-wrapper__title {
	display: flex;
	padding: 0 20px 7px;
	justify-content: space-between;
	border-bottom: 1px solid var(--fonts-stroke, #C6C2De);
	margin-bottom: 20px;
}

.cms-title {
	font-size: 24px;
	font-style: normal;
	letter-spacing: 2.4px;
	text-transform: uppercase;
	font-weight: 700;
	color: var(--pale-purple, #6E6893);
}

.cms-wrapper__table {
	border-radius: 16px;
	background-color: var(--white, #FFF);
	filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.20));
	/* min-width: 1100px; */
}

.table-wrapper {
	overflow-x: auto;
	width: 1100px;
}

.cms-top {
	display: flex;
	justify-content: space-between;
	padding: 15px 20px;
}

.cms-wrapper__search {
	display: flex;
	gap: 20px
}

.cms-button {
	padding: 10px;
	color: var(--dark-blue, #25213B);
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	display: flex;
	align-items: center;
	gap: 10px;
	max-width: 108px;
	min-height: 40px;
	border-radius: 6px;
	border: 1px solid var(--fonts-stroke, #C6C2DE);
	background: var(--white, #FFF);
}

.cms-search {
	width: 392px;
	position: relative;
}

.cms-search__input {
	appearance: none;
	border-radius: 6px;
	background: var(--ligth-gray, #F4F2FF);
	padding: 13px 40px;
	border: none;
	width: 100%;
	height: 40px;
	color: var(--fonts-primary-variant, #6E6893);
	font-size: 12px;
	font-style: normal;
	line-height: normal;
}

.cms-search__img {
	position: absolute;
	top: 10px;
	left: 10px;
	width: 20px;
	height: 20px;
	background-image: url('../img/Search.svg');
	background-repeat: no-repeat;
}

.cms-btn {
	padding: 10px 15px;
	border-radius: 6px;
	background: var(--dark-purple, #6D5BD0);
	color: var(--white, #FFF);
	font-size: 16px;
	font-style: normal;
	font-weight: 600;
	line-height: normal;
	text-transform: uppercase;
}

.number-pages {
	color: var(--pale-purple, #6E6893);
	font-size: 12px;
	font-style: normal;
	font-weight: 600;
	line-height: normal;
	letter-spacing: 0.6px;
}

@media(max-width: 1100px) {
	.cms-top {
		flex-wrap: wrap;
		gap: 20px;
	}

	.cms-wrapper__title {
		flex-wrap: wrap;
	}

	.cms-search {
		max-width: 70%;
	}

	.cms-wrapper__search {
		flex-wrap: wrap;
	}

	.cms-wrapper__table {
		overflow-x: auto;
	}
}