.modal-delete {
	display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  gap: 30px;
  align-items: center;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	background-color: var(--white-gray, #F2F0F9);
	max-width: 400px;
	width: 100%;
	min-height: 300px;
	z-index: 2;
  padding: 30px;
}

.modal-delete-title {
  color: var(--pale-purple, #6E6893);
	font-family: Inter, sans-serif;
	font-size: 24px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
	letter-spacing: 2.4px;
	text-transform: uppercase;
}

.btn-wrapper {
  display: flex;
  gap: 30px;
}

.btn-delete {
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 10px;
  color: var(--white, #fff);
}

.btn-delete-refuse {
  background-color: var(--dark-purple, #6D5BD0);
}

.btn-delete-agree {
  background-color: var(--red, #D80101);
}