:root {
	--fonts-stroke: #C6C2DE;
	--white: #fff;
	--white-gray: #F2F0F9;
	--pale-purple: #6E6893;
	--dark-purple: #6D5BD0;
	--gray: #C5C5C5;
	--red: #D80101;
	--dark-blue: #25213B;
	--ligth-gray: #F4F2FF;
}